// page-login {
//     .item {
//         background: transparent;
//         padding: 0px;

//         .label{
//             color: #fff;
//         }
//         .input {
//             color: #fff;
//         }
//     }
//     .logo-box{
//         margin: 50px 0px;
//     }
//     .item-input-has-focus{
//         .label{
//             color: #fff !important;
//         }
//         .input {
//             color: #fff !important;
//         }
//         .item-inner {
//             border-bottom: 1px solid #D3DFEF !important;
//         }
       
//     }
//     .error_msg{
//         color:white !important;
//     }
    
// }

page-login {
    .item {
        background: transparent;
        padding: 0px;

        .label{
            color: #fff;
        }
        .input {
            color: #fff;
        }
    }
    .logo-box{
        margin: 50px 0px;
    }
    .item-input-has-focus{
        .label{
            color: #fff !important;
        }
        .input {
            color: #fff !important;
        }
        .item-inner {
            border-bottom: 1px solid #D3DFEF !important;
        }
       
    }
    
}


