<!--
  Generated template for the ChangepasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar #navbar>
    <ion-buttons start>
      <!-- <button ion-button icon-only (click)="goBack();">
        <ion-icon name="arrow-back"></ion-icon>
      </button> -->
    </ion-buttons>
    <ion-title>Change Password</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form action="" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
      <div class="wrapper common-input">
   
          <!-- <ion-item>
            <ion-label floating>Current Password</ion-label>
            <ion-input type="password" formControlName="cur_password"></ion-input>
          </ion-item> -->
          <div class="form-row">
              <input type="password"  formControlName="cur_password" class="input-text" id="input" placeholder="Current Password" />
              <label class="label-helper" for="input">Current Password</label>
            </div>
          <p class="validMsg"  *ngIf="changePasswordForm.controls.cur_password.hasError('required') && submitAttempted "   style=" border-bottom:none">
              Current password is required
              </p>
          <!-- <ion-item>
            <ion-label floating>New Password </ion-label>
            <ion-input type="password" formControlName="new_password"></ion-input>
          </ion-item> -->
          <div class="form-row">
              <input type="password"  formControlName="new_password" class="input-text" id="input" placeholder="New Password" />
              <label class="label-helper" for="input">New Password</label>
            </div>
          <p  class="validMsg"  *ngIf="changePasswordForm.controls.new_password.hasError('required') && submitAttempted "   style=" border-bottom:none">
             New password is required
             </p>
          <!-- <ion-item>
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" formControlName="confirm_password"></ion-input>
          </ion-item> -->
          <div class="form-row">
              <input type="password"  formControlName="confirm_password" class="input-text" id="input" placeholder="Confirm Password" />
              <label class="label-helper" for="input">Confirm Password</label>
            </div>
          <p class="validMsg"  *ngIf="changePasswordForm.controls.confirm_password.hasError('required') && submitAttempted "   style=" border-bottom:none">
              Confirm password is required
             </p>
          <ion-list>
            <button class="primary-btn " type="submit">DONE</button>
          </ion-list>
        </div>
  </form>
  
</ion-content>