page-verification {
    .input-text{
    margin: 0px 15px;
    padding-left: 0px !important;
    padding: 0px !important;
} 
input, ion-label{
    margin-right: 0px !important;
}
.otp-only{
    text-align: center;
}
}
