page-profile {
.pro-iamge{
    
    position: relative;
    .img-box{
        width: 100px;
        height: 100px;
        border: 2px solid #fff;
        overflow: hidden;
        margin: 0 auto;
        border-radius: 50px;
    }
    .edit{
        position: absolute;
        bottom: -11px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
        background-color: #fff;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        line-height: 35px;
    }
}
}
