<ion-header>
  <ion-navbar hidebackbutton="true" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="!search_mode">Home</ion-title>
    <ion-searchbar *ngIf="search_mode" [(ngModel)]="search" (keyup.enter)='getItems($event)' ></ion-searchbar>
    <ion-buttons end>
      <button   ion-button icon-only (click)="toggleSearch()">
        <ion-icon *ngIf="!search_mode" name="search"></ion-icon>
        <ion-icon *ngIf="search_mode" name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>

  <main class="bg-red ">
    <div class="wrapper-sm">
      <ion-grid>
        <ion-row *ngIf="category_list.length > 0">
          <ion-col col-6 *ngFor="let cat of category_list">
            <ion-card class="my-card" (click)="gotoDetail(cat.category_id,cat.category_name)">
              <div class="img-box">
                <img src="{{base_url}}{{cat.image}}">
              </div>
              <h5>{{cat.category_name}}</h5>
              <div class=lines></div>
            </ion-card>
          </ion-col>
        
         
        </ion-row>
        <ion-row *ngIf="category_list.length == 0" style="background: #ffff">
          NO CATEGORIES FOUND..
        
         
        </ion-row>
      </ion-grid>
    </div>

  </main>
  <!-- <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="build"></ion-icon>
        <ion-label>Scaffold Out Your App</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>Change Your App Layout</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/theming/basics">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>Theme Your App</ion-label>
      </ion-item>
    </ion-list> -->
</ion-content>