@import url(//db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri);
@font-face {
  font-family: "Calibri";
  src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot");
  src: url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.svg#Calibri") format("svg");
}
body {
    font-family: "Calibri" !important;
    font-size: 16px;
}
.bg-red{
    background: #FF2826 !important;
  }
  .bg-red-df{
    background: #AB1715 !important;
  }
  .wrapper{
    padding: 25px;
}
p{
    line-height: 24px;
    font-size: 16px;
}
.primary-btn{
    background: #333E8D;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 0px;
    margin-top: 30px;
}
.checkbox-ios .checkbox-checked {
    border-color: #FF2826 !important;
    background-color: #FF2826 !important;
}
.text-white{
    color: #fff;
}
.text-black{
    color: #1E1E1E !important;
}
.text-primary{
    color: #FF2826 !important;
}
.text-secondary{
    color: #333E8D !important;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.mt-0{
    margin-top: 0px;
}
.pt-0{
    padding-top: 0px !important;
}
.p-0{
    padding: 0px !important; 
}
.content-img{
    height: 160px;
    
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        overflow: hidden;
    }
}
ion-card {
    margin: 0px !important;
    width: 100% !important;
    padding: 15px;
    box-shadow: none !important;
    border: 1px solid #EFEEF1;
    border-radius: 8px !important;
}

.item {
    background: transparent;
    padding: 0px;

    .label{
        color: #8E8E8E;
    }
    .input {
        color: #262626;
    }
}

.item-block .item-inner {
    border-bottom: 0.55px solid #D3DFEF !important;
}
.border-0{
  .item-inner {
        border-bottom: none !important;
    }
}
ion-item{
    padding: 0px !important;
}
.toolbar-background{
    background: #FF2826 !important;
    
}
.bar-button{
    color: #fff !important;
}
.toolbar-title {
    color: #fff !important;
}
.list-ios > .item-block:first-child{
    border-top: 0px !important;
}