<!--
   Generated template for the ForgotpasswordPage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <ion-header>
      <ion-navbar>
         <ion-buttons start>
            <!-- <button ion-button icon-only>
               <ion-icon name="arrow-back"></ion-icon>
               </button> -->
         </ion-buttons>
         <ion-title>Forgot Password</ion-title>
      </ion-navbar>
   </ion-header>
   <ion-content>
      <form action="" [formGroup]="forgotForm" (ngSubmit)="sendCode()" *ngIf="!codeSuccess">
      <div class="wrapper">
         <h4 class="text-black text-center">
            Forgot password?
         </h4>
         <!-- <P class="text-black text-center">Don't worry it happens to us too. Tell us your email and we'll help you out...</P> -->
         <P class="text-black text-center">Enter the reset code that was sent your email address</P>
         <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" name="email" id="email" type="email" formControlName="email"></ion-input>
            <p *ngIf="(forgotForm.controls.email.hasError('required') || forgotForm.controls.email.hasError('pattern')) && submitAttempted "   style=" border-bottom:none">
               Enter a valid mail
            </p>
         </ion-item>
         <ion-list>
            <button class="primary-btn " [disabled]="!forgotForm.valid">SEND OTP</button>
         </ion-list>
      </div>
      </form>
    
         <div style="display: flex" *ngIf="codeSuccess && !setPassword_screen">
            <ion-item>
               
               <ion-input type="tel" maxlength="1" [(ngModel)]="otp0" #itemInput1   (keyup)='setFocus($event,itemInput2)' (focus)="setInput($event)" (blur)="setInput($event)" (keyup.backspace)='backHandle($event,itemInput1)' required></ion-input>
            </ion-item>
            <ion-item>
              
               <ion-input type="tel" maxlength="1" [(ngModel)]="otp1" #itemInput2   (keyup)='setFocus($event,itemInput3)' (focus)="setInput($event)" (blur)="setInput($event)" (keyup.backspace)='backHandle($event,itemInput1)' required></ion-input>
            </ion-item>
            <ion-item>
              
               <ion-input type="tel" maxlength="1" [(ngModel)]="otp2" #itemInput3  (keyup)='setFocus($event,itemInput4)' (focus)="setInput($event)" (blur)="setInput($event)"  (keyup.backspace)='backHandle($event,itemInput2)' required></ion-input>
            </ion-item>
            <ion-item>
              
               <ion-input type="tel" maxlength="1" [(ngModel)]="otp3" #itemInput4  (keyup)='setFocus($event,itemInput4)' (focus)="setInput($event)" (blur)="setInput($event)"  (keyup.backspace)='backHandle($event,itemInput3)' required></ion-input>
            </ion-item>
         </div>
         <ion-item *ngIf="codeSuccess && setPassword_screen">
            <ion-label floating>New Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
         </ion-item>
         <ion-item *ngIf="codeSuccess && setPassword_screen">
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.confirmPassword" ></ion-input>
         </ion-item>
         <ion-list *ngIf="codeSuccess && !setPassword_screen">
            <button class="primary-btn " (click)="verifyResetCode()" >VERIFY CODE</button>
         </ion-list>
         <h6 *ngIf="codeSuccess && !setPassword_screen" class="text-center text-primary" (click)="resendCode()">Resend Code</h6>
         <ion-list *ngIf="codeSuccess && setPassword_screen">
            <button class="primary-btn " (click)="setPassword()" >SET AS PASSWORD</button>
         </ion-list>
   </ion-content>