<!--
   Generated template for the ForgotpasswordPage page.
   
   See http://ionicframework.com/docs/components/#navigation for more info on
   Ionic pages and navigation.
   -->
   <ion-header>
      <ion-navbar>
         <ion-buttons start>
            <!-- <button ion-button icon-only>
               <ion-icon name="arrow-back"></ion-icon>
               </button> -->
         </ion-buttons>
         <ion-title>Forgot Password</ion-title>
      </ion-navbar>
   </ion-header>
   <ion-content>
      <form action="" [formGroup]="forgotForm" (ngSubmit)="sendCode()" *ngIf="!codeSuccess">
      <div class="wrapper">
         <h4 class="text-black text-center">
            Forgot password?
         </h4>
         <P class="text-black text-center">Don't worry it happens to us too. Tell us your email and we'll help you out...</P>
         <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" name="email" id="email" type="email" formControlName="email"></ion-input>
            <p *ngIf="(forgotForm.controls.email.hasError('required') || forgotForm.controls.email.hasError('pattern')) && submitAttempted "   style=" border-bottom:none">
               Enter a valid mail
            </p>
         </ion-item>
         <ion-list>
            <button class="primary-btn " [disabled]="!forgotForm.valid">SEND OTP</button>
         </ion-list>
      </div>
      </form>
    
         <div style="display: flex" *ngIf="codeSuccess">
            <ion-item>
               <!-- <ion-label floating>0</ion-label> -->
               <ion-input type="text" placeholder="0" maxlength="1" [(ngModel)]="otp0" #0tp0=ngModel  (keyup)='setFocus($event)'  (keyup.backspace)='backHandle($event)' required></ion-input>
            </ion-item>
            <ion-item>
               <!-- <ion-label floating>0</ion-label> -->
               <ion-input type="text" placeholder="0" maxlength="1" [(ngModel)]="otp1"  #0tp2=ngModel  (keyup)='setFocus($event)'  (keyup.backspace)='backHandle($event)' required></ion-input>
            </ion-item>
            <ion-item>
               <!-- <ion-label floating>0</ion-label> -->
               <ion-input type="text" placeholder="0" maxlength="1" [(ngModel)]="otp2" #0tp3=ngModel  (keyup)='setFocus($event)'  (keyup.backspace)='backHandle($event)' required></ion-input>
            </ion-item>
            <ion-item>
               <!-- <ion-label floating>0</ion-label> -->
               <ion-input type="text" placeholder="0" maxlength="1" [(ngModel)]="otp3" #0tp4=ngModel  (keyup)='setFocus($event)'  (keyup.backspace)='backHandle($event)' required></ion-input>
            </ion-item>
         </div>
         <ion-item *ngIf="codeSuccess">
            <ion-label floating>Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.password" ></ion-input>
         </ion-item>
         <ion-item *ngIf="codeSuccess">
            <ion-label floating>Confirm Password</ion-label>
            <ion-input type="password" [(ngModel)]="user.confirmPassword" ></ion-input>
         </ion-item>
         <ion-list *ngIf="codeSuccess">
            <button class="primary-btn " (click)="setPassword()" >Submit</button>
         </ion-list>
   
   </ion-content>