page-forgotpassword {
    .input-text{
        margin: 0px 15px;
        padding-left: 0px !important;
        background-color: black;
    } 
    input, ion-label{
        margin-right: 0px !important;
    }

    .otp-only{
        text-align: center;
    }
}
