<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


  <ion-navbar>
      <!-- <ion-buttons start>
          <button ion-button icon-only>
            <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-buttons> -->

    <ion-title>SIGN UP</ion-title>

    <!-- <ion-buttons end>
        <button ion-button icon-only>
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons> -->

  </ion-navbar>


</ion-header>
<!-- <ion-header>
  <ion-navbar>
   

    
  </ion-navbar>
</ion-header> -->
<ion-content >
    <div class="wrapper">
      <form action="" [formGroup]="signUpForm" (submit)="signUpNow()">
          <ion-list>
              <ion-item>
                <ion-label floating>First Name</ion-label>
                <ion-input type="text" formControlName="first_name" ></ion-input>
                
              </ion-item>
              <p class="validMsg" *ngIf="(signUpForm.controls.first_name.hasError('required')) && submitAttempted "   style=" border-bottom:none">
                  Please provide your first name
                 </p>
              <ion-item>
                <ion-label floating>Last Name</ion-label>
                <ion-input type="text" formControlName="last_name" ></ion-input>
              </ion-item>
              <p  class="validMsg" *ngIf="(signUpForm.controls.last_name.hasError('required')) && submitAttempted "   style=" border-bottom:none">
                Please provide your last name
               </p>
              <ion-item>
                  <ion-label floating>Email Address</ion-label>
                  <ion-input type="text" formControlName="email"></ion-input>
                </ion-item>
                <p class="validMsg"  *ngIf="(signUpForm.controls.email.hasError('required') || signUpForm.controls.email.hasError('pattern')) && submitAttempted "   style=" border-bottom:none">
                  Please enter a valid email
                 </p>
                <ion-item>
                    <ion-label floating>Password</ion-label>
                    <ion-input type="Password" formControlName="password" ></ion-input>
                  </ion-item>
                  <p class="validMsg" *ngIf="signUpForm.controls.password.hasError('required')  && submitAttempted "   style=" border-bottom:none">
                    Create a password
                   </p>

                   <h6 class="text-black" style="font-size: 1.5rem;
                   line-height: 2.5rem;">By signing up you are agreeing to the <span class="text-primary" (click)="goToTerms()"> Terms</span> and <span class="text-primary"(click)="goToPrivacy()">Privacy</span></h6>

            </ion-list>

              
              <!-- <p  class="validMsg" *ngIf="signUpForm.controls.agree.hasError('required')  && submitAttempted "   style=" border-bottom:none">
                  Accept Terms and Privacy Policy
               </p>
               <p class="validMsg" *ngIf="acceptPrivacy && submitAttempted "   style=" border-bottom:none">
                  Accept Terms and Privacy Policy
               </p> -->
            <ion-list>
              <button class="primary-btn ">SIGN UP</button>  
            </ion-list>
      </form>
        
    </div>
</ion-content>
