page-detail {
    .item-block .item-inner {
        border-bottom: 0 !important;
        
    }
    ion-label{
        color: #262626 !important;
    }
    .mb-5{
        margin-bottom: 20px !important;
    }
}
