page-app-cropper {

    ion-content{
        background: rgba(0,0,0,0.2) !important;
    }

    .cropImage{
        // vertical-align: middle;
        text-align: center;
    }

    .crop-button{      
        color: #81dae5;                
    }

}