page-list {
.thump-box{
    width: 60px;
    height: 60px;
    margin-right: 13px;
    border-radius: 10px;
    overflow: hidden;

    img{
        object-fit: cover;
        height: 100%;
    }
}
.label {
    display: flex;
    align-items: center;
    border-bottom: 0px !important;

}
.item {
    padding-right: 0px !important;
    border-bottom: 0px !important;
}
    .item .label{
        color: #262626 !important;
    }
    .item-block .item-inner {
        border-bottom: 0 !important;
    }
}
